<div>

<div class="container conBot">

		

		<div class="row forCat">

			<a data-toggle="modal" data-target="#myFirstModal"><div class="cat mov">
				<h1>MOVIES</h1>
			</div></a>

			<a data-toggle="modal" data-target="#mySecondModal"><div class="cat book">
				<h1>BOOKS</h1>
			</div></a>

			<a data-toggle="modal" data-target="#myThirdModal"><div class="cat song">
				<h1>MUSIC</h1>
			</div></a>

		</div>
	
</div>


	<div class="modal fade js-modal" id="myFirstModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span>&times;</span>
	        </button>

	        <h2>BUT FIRSTLY...</h2>
	        
	      </div>

	      <div class="modal-body">

	      		<label>What other movies do you like?</label>
					<input type="text" class="theyWrite2"></input>
					<h4>Ex: Matrix; Titanic; Inception...</h4>

				<button data-dismiss="modal" class="btn btn-default toSee film" id="SuperButton"onclick="change()">Show me</button>

	      </div>

	    </div>
	  </div>
	</div>

	<div class="modal fade js-modal" id="mySecondModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span>&times;</span>
	        </button>

	        <h2>BUT FIRSTLY</h2>
	        
	      </div>

	      <div class="modal-body">

	      	<label>What other books do you like?</label>
					<input type="text" class="theyWrite3"></input>
					<h4>Ex: Twilight; The Catcher in the Rye; The Hunger Games...</h4>

				<button data-dismiss="modal" class="btn btn-default toSee novel" id="superButton2" onclick="change2()">Show me</button>

	      </div>

	    </div>
	    </div>
	    </div>

	    <div class="modal fade js-modal" id="myThirdModal">
		  <div class="modal-dialog">
		    <div class="modal-content">

		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span>&times;</span>
		        </button>

		        <h2>BUT FIRSTLY...</h2>
		        
		      </div>

		      <div class="modal-body">

		      		<label>What other artists do you like?</label>
					<input type="text" class="theyWrite"></input>
					
					<h4>Ex: Bruno Mars; Elvis; Rihanna...</h4>

					<button data-dismiss="modal" class="btn btn-default toSee songMusic" id="superButton3" onclick="change3()">Show me</button>

		      </div>

		    </div>
	 	 </div>
		</div>

	  </div>

