
<!--<div>
	<h1>wjkdlbvoal</h1>
</div>
 <div class="container down">
      <a ng-click="query={}">All</a>
      <a ng-click="query={volumeInfo: {categories : 'Juvenile Fiction'}}">Juvenile</a>
      <a ng-click="query={volumeInfo: {categories: 'Philosophy'}}">Philosophy</a>
      <a ng-click="query={volumeInfo: {categories: 'History'}}">History</a>
      <a ng-click="query={volumeInfo: {categories: 'Science'}}">Science</a>
       <div>
      <li class="nav-item">Search:</li>
      <input class="nav-item is-tab" type="text" placeholder="Search" ng-model="name">
    </div>
 </div>  ng-repeat="book in books | filter: saleInfo | filter: genre | filter: name | filter: query | orderBy: 'volumeInfo.publishedDate'"-->

<books-directive></books-directive>

